/* CSS específico para o Cadastro */
.cadastro-form-section {
  width: 320px;
  margin: 16px auto;
}

.cadastro-invalid {
  color: red;
}

.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px !important;
  padding: 20px;
  max-width: 100%;
  background-color: #F2F2F2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ajustada conforme necessário */
  margin-top: 2rem; /* Ajuste de margem superior */
  margin-bottom: 15px !important;
  margin-left: 32rem;
}

.cadastro-h1 {
  text-align: center;
  color: #333;
}

.cadastro-form-section {
  display: flex;
  flex-direction: column;
}

.cadastro-form-section div {
  margin-bottom: 15px;
}

.cadastro-label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.cadastro-input.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.cadastro-input.form-control:focus {
  border-color: #11afd1;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.cadastro-small.invalid {
  color: red;
  font-size: 12px;
}

.cadastro-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.cadastro-button.mt-1 {
  margin-top: 10px;
}

.cadastro-button.w-100 {
  width: 100%;
}

.cadastro-button.btn-custom {
  background-color: #11afd1;
  color: #fff;
}

.cadastro-button.btn-custom:hover {
  background-color: #0f96b4; /* Remove o efeito de hover */
}

.cadastro-button.variant-danger {
  background-color: #dc3545;
  color: #fff;
}

.cadastro-button.variant-danger:hover {
  background-color: #c82333;
}
