.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px; 
  padding: 20px;
  max-width: 100%;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-top: 3rem; 
  margin-bottom: auto;
  color: #010337;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-form__input-group {
  margin-bottom: 15px;
}

.login-form__label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.login-form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form__input:focus {
  border-color: #11afd1;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.login-form__error-message {
  color: red;
  font-size: 12px;
}

.login-form__button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.login-form__button--submit {
  background-color: #11afd1;
  color: #fff;
  margin-bottom: 10px;
}

.login-form__button--submit:hover {
  background-color: #0f96b4; 
}

.login-form__button--google {
  background-color: #dc3545;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}

.login-form__button--google:hover {
  background-color: #c82333;
}

.login-form__google-icon {
  margin: 4px 8px 6px 0;
  text-align: center;
}

.login-form__google-text {
  flex: 1;
  text-align: center;
}

