.container-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #11afd1;
  align-items: center;
  padding: 0 50px 0 50px;
}

.container-navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-navbar ul .link-login, /* Adiciona a classe para link-login */
.container-navbar ul a { /* Adiciona o estilo para todas as tags 'a' dentro de 'ul' */
  margin-right: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none; /* Remove o sublinhado dos links */
}

.container-navbar ul a:last-child {
  margin-right: 0;
}

.logo_mercadolist {
  width: 150px;
  height: auto;
  position: relative;
  right: 40px;
  cursor: pointer;
}
